# table of contents
[1. 필요한 파일 불러오기 및 정리](#bullet1)<br>
[2. 데이터 EDA](#bullet2)<br>
[3. Split Data](#bullet3)<br>
[4. Similarity - with kNN](#bullet4)<br>
[5. Make Predictions](#bullet5)<br>

# 1. 필요한 파일 불러오기 및 정리<a class="anchor" id="bullet1"></a>

In [13]:
from scipy.stats import pearsonr
from datetime import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import os
import random
import matplotlib
import matplotlib.pyplot as plt
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error

In [10]:
raw = pd.read_csv('booklist.csv', encoding='cp949', index_col = False)

df = raw[['nickname', 'title',  'rating']]

df.sample(5)

       nickname                     title  rating
14244  ddorg321                     골든아워2      80
13507        날윤                  열하일기 첫걸음     100
11054      힉스입자                       딜리트     100
11926    완벽완전팟방                 초등 감정 사용법     100
7660       kban  [세계환상문학선] 오스카 와일드의 환상문학선      90

## 1.1 title_df, user_df 만들기<a class="anchor" id="bullet1.1"></a>

In [15]:
user_df = pd.DataFrame(list(df.nickname	.unique()), columns = ['nickname'])
user_df['usr_id'] = random.sample(range(1,len(user_df)+1), len(user_df))

title_df = pd.DataFrame(list(df.title.unique()), columns = ['title'])
title_df['ttl_id'] = random.sample(range(1,len(title_df)+1), len(title_df))

df = df.merge(user_df, how = 'left' )
df = df.merge(title_df, how = 'left' )

df.sample(5)

       nickname                title  rating  usr_id  ttl_id
15245   meiting                 운명이다     100    1590      63
7576        율리맘    빨강머리 앤 : 에이번리 이야기     100    4326      19
8300       노브레끼  100인의 배우, 우리 문학을 읽다      60    4125     104
5419   빛나라둥이둥둥이  [공포괴담집] 저승에서 돌아온 남자     100    2018      56
1918       퐁이퐁퐁                블랙코미디      60    4088     126

# 2. 데이터 EDA<a class="anchor" id="bullet2"></a>

# 3. Split Data<a class="anchor" id="bullet3"></a>

# 4. Similarity - with kNN<a class="anchor" id="bullet4"></a>

# 5. Make Predictions<a class="anchor" id="bullet5"></a>